@font-face {
    font-family: 'Black Ops One';
    src: url('./fonts/BlackOpsOne-Regular.woff2') format('woff2'),
        url('./fonts/BlackOpsOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 3.366rem; /* 53.92px */
}

h2 {
  font-size: 2.525rem; /* 40.32px */
}

h3 {
  font-size: 1.894rem; /* 30.24px */
}

h4 {
  font-size: 1.421rem; /* 22.72px */
}

h5 {
  font-size: 1.066rem; /* 17.12px */
}

small {
  font-size: 0.6rem; /* 9.6px */
}

#root,
#__next {
  isolation: isolate;
}

:root {
    --board-color: rgb(116, 116, 116);
    --secondary-color: rgb(194, 192, 192);
    --inset-color: rgb(71, 71, 71);
    --opponent-color: rgba(48, 206, 210);
}


body {
    height: 100vh;
    width: 100vw;;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 8px;
}


.bottom-board, .top-board {
    width: min(100vh, 100%);
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.opponent-board {
    border-radius: 16px 16px 0px 0px;
    background-color: var(--secondary-color);
    border: 8px solid var(--board-color);
    padding: 8px;
}

.opponent-board > .board {
    border: 1px solid var(--board-color);
    background: linear-gradient( 180deg, var(--opponent-color) 0%, #078686 100%);
    width: 100%;
    height: 100%;
    border-radius: 16px;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    padding: 2px 16px 16px 2px;
    font-family: 'Black Ops One';
}


.left-side, .right-side {
    margin: 16px 0px;
    background-color: var(--secondary-color);
    border: 8px solid var(--board-color);
}

.left-side {
    border-top-left-radius: 100% calc(100% / 3);
    border-bottom-left-radius: 150% 10%;
    border-right: none;
}

.right-side { 
    border-top-right-radius: 100% calc(100% / 3);
    border-bottom-right-radius: 150% 10%;
    border-left: none;
}

.game-board {
    border-radius: 0px 0px 16px 16px;
    background-color: var(--board-color);
    border: 8px solid var(--board-color);
    box-shadow: var(--inset-color) 0px 0px 3px 3px inset;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    padding: 2px 16px 16px 2px;
    font-family: 'Black Ops One';
}

.row {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.row > .column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row > .column > .circle {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 50%;
}

.row:nth-child(n + 2) > .column:nth-child(n+3) {
    border-left: 2px solid rgba(255, 255, 255, 0.15);
}

.row:nth-child(n + 3) > .column:nth-child(n+2) {
    border-top: 2px solid rgba(255, 255, 255, 0.15);
}

.row > .name {
    border: none;
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
}

.battle-ship-holder, .piece-holder {
    margin: 16px 0px;
    background-color: var(--board-color);
    border: 6px solid var(--board-color);
    box-shadow: var(--inset-color) 0px 0px 3px 3px inset;
}

.battle-ship-holder{
    border-top-left-radius: 150% 10%;
    border-bottom-left-radius: 100% calc(100% / 3);
    border-right: none;
}

.piece-holder{
    border-top-right-radius: 150% 10%;
    border-bottom-right-radius: 100% calc(100% / 3);
    border-left: none;
}