@font-face {
    font-family: 'Black Ops One';
    src: url('./fonts/BlackOpsOne-Regular.woff2') format('woff2'),
        url('./fonts/BlackOpsOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 3.366rem; /* 53.92px */
}

h2 {
  font-size: 2.525rem; /* 40.32px */
}

h3 {
  font-size: 1.894rem; /* 30.24px */
}

h4 {
  font-size: 1.421rem; /* 22.72px */
}

h5 {
  font-size: 1.066rem; /* 17.12px */
}

small {
  font-size: 0.6rem; /* 9.6px */
}

#root,
#__next {
  isolation: isolate;
}

:root {
    --board-color: rgb(116, 116, 116);
    --secondary-color: rgb(194, 192, 192);
    --inset-color: rgb(71, 71, 71);
    --opponent-color: rgba(48, 206, 210);
}


body {
    height: 100vh;
    width: 100vw;;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 8px;
    font-family: 'Black Ops One';
}


.bottom-board, .top-board {
    width: min(100vh, 100%);
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    min-height: 0;
}

.opponent-board {
    border-radius: 16px 16px 0px 0px;
    background-color: var(--secondary-color);
    border: 8px solid var(--board-color);
    padding: 8px;
}

.opponent-board > .board {
  border: 1px solid var(--board-color);
  background: linear-gradient( 180deg, var(--opponent-color) 0%, #078686 100%);
  width: 100%;
  height: 100%;
  border-radius: 16px;
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  padding: 2px 16px 16px 2px;
  font-family: 'Black Ops One';
}

.opponent-board > .welcome-screen {
  border: 1px solid var(--board-color);
  background: linear-gradient( 180deg, var(--opponent-color) 0%, #078686 100%);
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.75);
}

.welcome-header {
  text-align: center;
}

.start-game-btn {
  border: none;
  background: none;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.75);
  margin-top: 72px;
  font-size: large;
}

.select-screen {
  border: 1px solid var(--board-color);
  background: linear-gradient( 180deg, var(--opponent-color) 0%, #078686 100%);
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.75);
}

.select-screen > form {
  border: 2px solid rgba(255, 255, 255, 0.35);
  flex-grow: 1;
  width: 100%;
  border-radius: 16px;
  display: grid;
  grid-auto-rows: 1fr;
  justify-content: center;
  padding: 8px;
  gap: 8px;
}

.select-screen > form > fieldset {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 0px 16px 4px 16px;
  border-radius: 8px;
  border: none;
}

.invalid {
  border: 2px solid red;
  background-color:  rgba(255, 0, 0, 0.459);
}

.valid {
  border: 1px solid green;
  background-color: rgb(0, 128, 0, 0.459);
}


.select-screen > form > fieldset > legend {
  font-weight: bold;
  position: absolute;
  top: 0px;
}

.select-screen > form > fieldset > :nth-child(2n + 4)
{
  margin-left: 16px;
}

.form-btns {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px;
}

.form-btns > button {
  background-color:  var(--board-color);
  color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 8px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.35);
  font-weight: bold;
  padding: 4px 8px;

}
.form-btns > button > svg {
  width: 24px;
  height: 24px;
  fill: rgba(255, 255, 255, 0.75);
}

select {
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.75);
  padding-top: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

select option {
  background: var(--secondary-color);
  color: var(--board-color);
  border-radius: 16px;
}


option {
  background: none;
}




.help-desc {
  font-size: smaller;
  text-decoration: underline;
  opacity: 90%;
  margin-top: 8px;
}


.left-side, .right-side {
    margin: 16px 0px;
    background-color: var(--secondary-color);
    border: 8px solid var(--board-color);
    min-width: 0;
}

.left-side {
  border-top-left-radius: 100% calc(100% / 3);
  border-bottom-left-radius: 150% 10%;
  border-right: none;
  padding: 48px 8px 16px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-screen {
  background: linear-gradient( 180deg, #138504 0%, #0e5c04fb 100%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 8px;
  color: rgba(255, 255, 255, 0.55);
  overflow: hidden;
  box-shadow: var(--inset-color) 1px 1px 1px 1px;
}

.current-player {
  font-weight: bolder;
  font-size: 1.25rem;
  text-align: center;
}

.play-desc {
  width: calc(100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.current-player-icon {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  position: relative;
}

.player-icon {
  fill: rgba(255, 255, 255, 0.35);
}

.player-icon.computer {
  display: none;
  position: absolute;
  top: 0px;
}

.right-side { 
    border-top-right-radius: 100% calc(100% / 3);
    border-bottom-right-radius: 150% 10%;
    border-left: none;
    padding: 16px 8px 16px 12px;
    display: grid;
    grid-template-rows: 4fr 1fr;
    gap: 16px;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}

.battle-ship-types {
  color: var(--board-color);
  text-shadow: black 1px 1px 1px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 4px;
}

.settings-button {
  background-color: red;
  height: 100%;
  margin: auto;
  padding: 0px 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: black 1px 1px 5px 0px;
}

.settings-button > svg {
  height: 64px;
  width: auto;
  fill: rgb(138, 0, 0);
}


.game-board {
    border-radius: 0px 0px 16px 16px;
    background-color: var(--board-color);
    border: 8px solid var(--board-color);
    box-shadow: var(--inset-color) 0px 0px 6px 6px inset;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    padding: 2px 16px 16px 2px;
    font-family: 'Black Ops One';
}

.row {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.row > .column {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.row > .column > .circle {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 50%;
}

.row:nth-child(n + 2) > .column:nth-child(n+3) {
    border-left: 2px solid rgba(255, 255, 255, 0.15);
}

.row:nth-child(n + 3) > .column:nth-child(n+2) {
    border-top: 2px solid rgba(255, 255, 255, 0.15);
}

.row > .name {
    border: none;
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
}

.game-piece {
  position: absolute;
  top: 0px;
  left: 4px;
}

.game-piece-rotate {
  transform-origin: top left;
  transform: rotate(270deg) scaleY(1.3) scaleX(0.9) translateX(-45px);
}


.battle-ship-holder, .piece-holder {
    margin: 16px 0px;
    background-color: var(--board-color);
    border: 6px solid var(--board-color);
    box-shadow: var(--inset-color) 0px 0px 6px 6px inset;
}

.battle-ship-holder{
    border-top-left-radius: 150% 10%;
    border-bottom-left-radius: 100% calc(100% / 3);
    border-right: none;
    position: relative;
}

.battleship {
  width: 45px;
  height: 160px;
  position: absolute;
  top: 16px;
  left: 32px;
}

.carrier {
  width: 45px;
  height: 200px;
  position: absolute;
  left: 32px;
  bottom: 36px;
}

.submarine {
  width: 45px;
  height: 120px;
  position: absolute;
  right: 16px;
  bottom: 24px;
}

.cruiser {
  width: 45px;
  height: 120px;
  position: absolute;
  right: 16px;
  top: 24px;
}

.destroyer {
  width: 45px;
  height: 80px;
  position: absolute;
  right: 16px;
  top: 172px;
}

.piece-holder{
  border-top-right-radius: 150% 10%;
  border-bottom-right-radius: 100% calc(100% / 3);
  border-left: none;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.hit-pieces, .miss-pieces {
  border-bottom: 6px solid var(--board-color);
  box-shadow: var(--inset-color) 0px 0px 6px 6px inset;
  overflow: hidden;
  position: relative;
}
.hit-pieces {
  border-top-right-radius: 150% 23%;
}

.miss-pieces {
  border-bottom-right-radius: 66% 36%;
}


.hit-piece, .miss-piece{
  width: 32px;
  height: 32px;
  border-radius: 100%;
  box-shadow: var(--inset-color) 1px 1px 1px 1px;
  position: absolute;
}

.hit-piece {
  background-color: red;
}

.miss-piece { 
  background-color: whitesmoke;
}



